{% set sidebar_data = load_data(path="data/sidebar.toml") %}

<ul class="section-items list-unstyled nav flex-column pb-3">
    <!-- Top Navigation Menu (visible only in mobile view) -->
    <li class="nav-item section-title d-lg-none">
        <span class="nav-link">Navigation</span>
        <ul class="nav flex-column">
            {% for nav_item in config.extra.nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ nav_item.url }}">{{ nav_item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>

    <!-- Physics Books Section -->
    {% set physics_book_v1 = sidebar_data.physics.sections.physics_book_v1 %}
    <li class="nav-item section-title mt-3">
        <a class="nav-link" href="{{ physics_book_v1.url }}">
            <span class="theme-icon-holder me-2"><i class="{{ physics_book_v1.icon }}"></i></span>{{ physics_book_v1.title }}
        </a>
    </li>
    {% if physics_book_v1.pages %}
        <ul class="nav flex-column">
            {% for page in physics_book_v1.pages %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</ul>