<ul class="section-items list-unstyled nav flex-column pb-3">
  <!-- Top Navigation Menu (visible only in mobile view) -->
  <li class="nav-item section-title d-lg-none">
      <span class="nav-link">Navigation</span>
      <ul class="nav flex-column">
          {% for nav_item in config.extra.nav %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ nav_item.url }}">{{ nav_item.name }}</a>
              </li>
          {% endfor %}
      </ul>
  </li>

  <!-- Physics Books Section -->
  {% set physics_section = get_section(path="books/physics/_index.md") %}
  <li class="nav-item section-title mt-3">
      <a class="nav-link" href="{{ physics_section.permalink }}">
          <span class="theme-icon-holder me-2"><i class="fas fa-book"></i></span>{{ physics_section.title }}
      </a>
  </li>
  {% for subsection in physics_section.subsections %}
      {% set subsection = get_section(path=subsection) %}
      <li class="nav-item">
          <a class="nav-link" href="{{ subsection.permalink }}">{{ subsection.title }}</a>
          {% if subsection.pages %}
              <ul class="nav flex-column">
                  {% for page in subsection.pages %}
                      <li class="nav-item">
                          <a class="nav-link" href="{{ page.permalink }}">{{ page.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </li>
  {% endfor %}
</ul>